= simple_form_for(@edition) do |f|
  = f.error_notification

  .form-inputs

    = f.input :number 
    = f.input :address 
    = f.simple_fields_for :collaborator_editions do |collaborator_edition|
      = render 'collaborator_edition_fields', f: collaborator_edition
    .links  
      = link_to_add_association t('edition_actions.add'), f, :collaborator_editions

  .form-actions
    = f.button :submit
