%h1= t ".title"

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Edition.human_attribute_name("number")
      %th= Edition.human_attribute_name("address")
      %th= Edition.human_attribute_name("collaborator")
      %th
      

  %tbody
    - @editions.each do |edition|
      %tr
        %td= link_to edition.number, edition
        %td= edition.address
        %td= edition.collaborators.count
        %td= link_to t('actions.edit'), edit_edition_path(edition)
        %td= link_to t('actions.destroy'), edition, :method => :delete, :data => { :confirm => t('actions.confirm') }

%br

= link_to t("actions.new_f"), new_edition_path
