%p#notice= notice



%p
  %b= t ('editions.number')
  = @edition.number
%p
  %b= t('editions.address')
  = @edition.address
%p
  %b= t('collaborator')
  = show_collaborators(@edition)
%p  


= link_to t('actions.edit'), edit_edition_path(@edition)
\|
= link_to t('actions.back'), editions_path
