= simple_form_for(@lecture) do |f|
  = f.error_notification

  .form-inputs

    = f.input :name
    = f.input :description 
    = f.input :start_time
    = f.input :end_time  
    = f.association :speaker, label_method: :last_name,  as: :select
    = f.association :room,  as: :select

  .form-actions
    = f.button :submit
