%h1= t ".title" 

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Lecture.human_attribute_name("name")
      %th= Lecture.human_attribute_name("description")
      %th= Lecture.human_attribute_name("start_time")
      %th= Lecture.human_attribute_name("end_time")
      %th= Lecture.human_attribute_name("speaker")
      %th= Lecture.human_attribute_name("room")

      
  %tbody
    - @lectures.each do |lecture|
      %tr
        %td= link_to lecture.name, edition_lecture_path(params[:edition_id], lecture)
        %td= lecture.description
        %td= lecture.start_time
        %td= lecture.end_time
        %td= lecture.speaker(:last_name)
        %td= lecture.room
        %td= link_to t('actions.edit'), edit_edition_lecture_path(params[:edition_id],lecture)
        %td= link_to t('actions.destroy'), edition_lecture_path(params[:edition_id],lecture), :method => :delete, :data => { :confirm => t('actions.confirm') }

%br

= link_to t('actions.new_f'), new_edition_lecture_path(params[:edition_id])
