%p#notice= notice

%p
  %b= t ('lectures.name')
  = @lecture.name
%p
  %b= t('lectures.description')
  = @lecture.description
%p
  %b= t('lectures.start_time')
  = @lecture.start_time
%p
  %b= t('lectures.end_time')
  = @lecture.end_time
%p
  %b= t('lectures.speaker')
  = @lecture.speaker(:last_name)
%p
  %b= t('lectures.room')
  = @lecture.room  

= link_to t('actions.edit'), edit_edition_lecture_path(params[:edition_id], @lecture)
\|
= link_to t('actions.back'), edition_lecture_path
