%h1= t ".title"

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= CollaboratorType.human_attribute_name("name")
      %th 
      %th

  %tbody
    - @collaborator_types.each do |collaborator_type|
      %tr
        %td= link_to collaborator_type.name, collaborator_type
        %td= link_to t("actions.edit"), edit_collaborator_type_path(collaborator_type)
        %td= link_to t("actions.destroy"), collaborator_type, :method => :delete, :data => { :confirm => t('actions.confirm') }

%br

= link_to t("actions.new"), new_collaborator_type_path
