%p#notice= notice

%p
%b= t("collaborator_types.name")
= @collaborator_type.name
%p

= link_to t('actions.edit'), edit_collaborator_type_path(@collaborator_type)
\|
= link_to t('actions.back'), collaborator_types_path
