%h1= t ".title"

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Collaborator.human_attribute_name("name")
      %th= Collaborator.human_attribute_name("description")
      %th= Collaborator.human_attribute_name("website")
      
      
  %tbody
    - @collaborators.each do |collaborator|
      %tr
        %td= link_to collaborator.name, collaborator
        %td= collaborator.description
        %td= collaborator.website
        %td= link_to t("actions.edit"), edit_collaborator_path(collaborator)
        %td= link_to t("actions.destroy"), collaborator, :method => :delete, :data => { :confirm => t('actions.confirm') }

%br

= link_to t("actions.new"), new_collaborator_path
