%p#notice= notice

%p
%b= t("collaborators.name")
= @collaborator.name
%p
%b= t("collaborators.description")
= @collaborator.description
%p
%b= t("collaborators.website")
= @collaborator.website




= link_to t('actions.edit'), edit_collaborator_path(@collaborator)
\|
= link_to t('actions.back'), collaborators_path
