%h1= t".title"

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Room.human_attribute_name("name")
      %th
      %th

  %tbody
    - @rooms.each do |room|
      %tr
        %td= link_to room.name, edition_room_path(params[:edition_id], room)
        %td= link_to t('actions.edit'), edit_edition_room_path(params[:edition_id],room) 
        %td= link_to t('actions.destroy'), edition_room_path(params[:edition_id],room), :method => :delete, :data => { :confirm => t('actions.confirm') }

%br

= link_to t('actions.new_f'), new_edition_room_path(params[:edition_id])
