@import "bootstrap-sprockets";
@import "bootstrap";

body {  
  font-family: 'Lato';
  height: 100%;
  color: #444444;
  background-color: #F9F9F9;
}

.navbar-default {
  background-color: #91CFA1;
  color: #FFFFFF
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
  font-size: 2em;
  font-weight: 400;
}





