= simple_form_for(@speaker) do |f|
  = f.error_notification
  .form-inputs
    = f.input :first_name
    = f.input :nickname
    = f.input :last_name
    = f.input :description
    = f.input :image
  - if @speaker.image.exists?
    = image_tag @speaker.image.url(:medium)
    = link_to "Remove Image", remove_image_path(@speaker), method: :delete

    
    
  .form-actions
    = f.button :submit