%h1= t ".title" 

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Speaker.human_attribute_name("first_name")
      %th= Speaker.human_attribute_name("nickname")
      %th= Speaker.human_attribute_name("last_name")
      %th= Speaker.human_attribute_name("description")
     

  %tbody
    - @speakers.each do |speaker|
      %tr
        %td= link_to speaker.first_name, speaker
        %td= speaker.nickname
        %td= speaker.last_name
        %td= speaker.description
        %td= link_to t('actions.edit'), edit_speaker_path(speaker)
        %td= link_to t('actions.destroy'), speaker, :method => :delete, :data => { :confirm => t('actions.confirm') }

%br

= link_to t('actions.new'), new_speaker_path
