%p#notice= notice

%p
  %b= t('speakers.first_name')
  = @speaker.first_name
%p
  %b= t('speakers.nickname')
  = @speaker.nickname
%p
  %b= t('speakers.last_name')
  = @speaker.last_name
%p
  %b= t('speakers.description')
  = @speaker.description
%p
  %b= t('speakers.image')
  = image_tag @speaker.image(:medium)




= link_to t('actions.edit'), edit_speaker_path(@speaker)
\|
= link_to t('actions.back'), speakers_path
